<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:allowBackup="true" android:label="CHS Android 0.4.3 Hotfix" android:theme="@style/AppTheme" android:usesCleartextTraffic="false">
    <activity android:name=".WriterActivityV043" android:screenOrientation="unspecified" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>